body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .about-us-container {
    display: flex;
    padding: 20px;
  }
  
  .left-side {
    flex: 1;
    padding: 20px;
    text-align: left;
  }
  
  .right-side {
    flex: 1;
    padding: 20px;
    text-align: left;
  }
  
  .about-image {
    width: 100%;
    height: auto;
  }
  
  h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 15px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  p {
    font-size: 1.2em;
    line-height: 1.6;
  }
  